:root{
	--mainColor:#000000;
	--secondaryColor:#000000;

	--borderColor:#FF5733;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#FF5733;


	--buttonColor:#FF5733;


}