:root{
	--mainColor:#F7DC6F;
	--secondaryColor:#F7DC6F;

	--borderColor:#ff0800;

	--mainText:#ff0800;
	--secondaryText:#660303;

	--themeDotBorder:#FFF;

	--previewBg:#ff0800;
	--previewShadow:#ff0800;

	--buttonColor:#000;

}
